.card {
  padding: 18px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.cardBtn {
  padding: 8px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: lightgreen;
  color: white;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.desc {
  font-size: 14px;
}
.username {
  font-size: 14px;
}
.date {
  font-size: 12px;
}
